@import url("https://fonts.google.com/specimen/Spartan");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(222, 26%, 31%);
    text-align: center;
    margin: auto;
    position: relative;
    font-family: 'Spartan', Courier, monospace;
}

/* .theme1 {
    background-color: hsl(222, 26%, 31%); 
} */

h1 {
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0% 28% 0% 4%;
    color: white;
}

h2 {
    padding: 10px;
    display: flex;
    justify-content: right;
    position: absolute;
    right: 580px;
    top: -48px;
    color: white;
    font-size: 0.8rem;
    font-weight: lighter;
}

button {
    padding: 7px;
    height: 47px;
    width: 22%; 
    /* 77px */
    border-radius: 10px;
    border: 1px thin white;
    background-color: white;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: inherit;
    color: hsl(222, 26%, 31%);
    touch-action: manipulation;
}

p {
    text-align: right;
    padding: 5% 2% 5%;
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
}

.calc-container {
    margin: 5% auto 1%;
}

.equals, .reset {
    width: 47%;
}

.equals {
    background-color: tomato;
    color: white;
}

.del, .reset {
    background-color: rgb(90, 85, 85);
    color: white;
    font-weight: 800;
    font-size: 1rem;
}

#visualsection  {
    width: 30%;
    overflow: auto;
    height: 85px;
    margin: auto;
    background-color:hsl(224, 36%, 15%);
    border-radius: 7px;
}

#numbersection  {
    width: 30%;
    height: 18%;
    position: relative;
    background-color: hsl(223, 31%, 20%);
    padding: 18px;
    margin: 13px auto 2%;
    border-radius: 7px;
}

.numrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% auto;
    
}
.attribution { font-size: 11px; text-align: center; margin: 10px auto 2px;}
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width: 900px) {
    body {
        margin-top: 3%;
        width: 375px;
    }
    #numbersection {
        width: 75%;
    }
    #visualsection {
        width: 75%;
        margin-top: 5px;
    }
    .equals, .reset {
        width: 47%;
        height: 60px;
    }
    p {font-size: 1.6rem;
        margin: 4% 3%;
    }
    h1 {
        padding: 10px;
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0 40% 0 1%;
    }
    
    h2 {
        padding: 10px;
        right: 160px;
        top: -40px;
        font-size: 0.6rem;
        font-weight: 400;
    }
}

    a {
        text-decoration: none;
    }

    
    
       
